{% extends "base.html.twig" %}


{% block body %}
<main class="main-inscription">

    <h1 class="mt-4">INSCRIPTION</h1>


    <div class="inscription-page-img">


            <div class="inscription">

                    <div class="inscription-page"

                        {{form(fofo)}}

                    </div>

            </div>



            <div class="card width-100 inscription-image">
                
                {# <img src="/images/inscription/inscription66.jpg"> #}
            </div>



            

    </div>  

</main>       
{% endblock %}