{% extends "base.html.twig" %}


{% block body %}


    <h1 class="mt-4">INSCRIPTION</h1>
 <div class="inscription-image">
    
    {# <img src="/images/inscription/inscription2.png"> #}
</div>

<div class="inscription">

    <div class="inscription-page"

        {{form(fofo)}}

    </div>

</div>
{% endblock %}