{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}





{% block body %}

<main class="mentionslegales">

    <h3>Statut</h3>

            <p>
                Christelle Alcan<br/> 
                rue Pierre Lescot 9400 Creteil - France<br/>
                {# Tel : 07 77 96 56 09<br/> #}
                Email : alcanchristelle@gmail.com<br/>
                Site : www.reqilibre.com<br/>
                <br/>
                
                Siret n° 529 786 063 00030<br/>
            </p>

    <h3>Site</h3>

            <p>
                Conception et réalisation<br/>
                Ce site a été conçu et réalisé par Devtouch<br/>
                <br/>
                {# Hébergement<br/>
                Ce site est hébergé par OVH<br/>
                2 rue Kellermann - 59100 Roubaix - France<br/>
                Tél : 08 20 32 03 63<br/>
                Site : www.OVH.com<br/> #}
            </p>

    
    <h3>Propriété Intéllectuelle</h3>

            <p>
                Ce site, et les textes qu'il contient sont protégés par les droits d'auteur. Tout lien de ce site est <br/>
                strictement interdit et en conséquence, aucun élément figurant sur une page de celui-ci ne peut <br/>
                être partiellement ou totalement, diffusé, transféré ou inséré sur un autre site Internet sans le <br/>
                consentement de l'auteur. <br/>
            </p>


    <h3>Responsabilité</h3>

            <p>
                Les informations communiquées sur ce site sont fournies à titre indicatif, elles sont non <br/>
                contractuelles et ne sauraient engager la responsabilité de l'auteur. Elles peuvent être modifiées <br/>
                ou mises à jour sans notification d'aucune sorte. En conséquence, l'utilisateur reconnait utiliser <br/>
                ces informations sous sa responsabilité exclusive. <br/>
            </p>        

    <h3>Données Personnelles</h3>

            <p>
                Ce site collecte des informations personnelles provenant de ses visiteurs, au moyen de questionnaires figurant sur le site. <br/>
                Ces informations personnelles permettent de répondre aux demandes d'informations ou prises de rendez-vous, elles se limitent <br/>
                à celles qui sont nécessaires pour vous contacter (telles que : votre nom, prénom, e-mail, tél...). Vous pouvez envoyer des e-mails à <br/> 
                l'adresse indiquée sur le site. Chaque message contiendra votre adresse Internet et toutes les informations complémentaires que vous <br/>
                souhaiterez inclure dans le message. <br/>
            </p>
    
    <h3>Pratique du Reiki et Médecines douces</h3>

            <p>
                Ces méthodes sont indépendantes de toute pratique religieuse, culturelle ou sectaire. Elles ne font l'objet <br/>
                d'aucune contre indication et ne remplacent en aucun cas le médecin. Elles sont compatibles et complémentaires <br/>
                à tout traitement médical ou paramédical. Le praticien n'est pas habilité à poser de diagnostic ou de prescription médicale. <br/>
            </p>


    <h3>Ethique</h3>

            <p>
                En tant que Praticienne de Reiki et de Médecine douce, je suis tenue au secret professionnel, <br/> 
                même entre membres d'une même famille tout ce qui sera évoqué en séance restera confidentiel. <br/>
            </p>


</main>
{% endblock %}