{% extends 'base.html.twig' %}

{% block title %} A propos {% endblock %}

 {% block body %}





    <div class"container">
    

        <div class="p-4 m-2">
            <div>
                <h2 class="mt-5">
                JE VOUS PROPOSE DES SOINS ÉNERGÉTIQUES ET DIFFÉRENTS TYPES MASSAGES
                <h2>
            </div>

            <p class="mt-5">
                Je m’appelle Christelle, maman de deux enfants.

                Je suis thérapeute-masseuse bien-être,<br/> spécialiste en holistique, (Je suis la référence) d’une

                médecine alternative japonaise appelée “Reiki”.<br/>

                Dans une démarche thérapeutique, je prodigue des soins aux adultes et aux enfants.<br/>

                J’accompagne les personnes sur l’harmonisation du corps et de l’esprit pour les maintenir en

                bonne santé. 🙂<br/>

                J’aide les personnes qui souhaitent guérir leurs maux, améliorer leur quotidien, retrouver

                leur créativité.<br/> Les effets de relaxation sont immédiats, dès la première séance.
            </p>

            <h3 class="mt-5">Mon parcours :</h3>

            <p class="mt-1">
                Après l’obtention de mon diplôme de coach sportif en 2009, j’ai évolué dans le domaine du

                sport durant 10 ans.<br/> 

                C’est en 2015 pour faire suite à un événement marquant de ma vie que j’ai ressorti mes

                livres<br/> et les techniques de méditation apprises afin de me reconnecter à mon moi intérieur.<br/>

                Cependant cette démarche n’étant pas suffisante j’ai donc décidé de passer la certification

                niveau 1 en Reiki<br/> ou j’ai continué à faire mon éveil et à travailler sur moi-même.
            </p>


            <p class="mt-5">
                A la naissance de ma fille j’ai décidé de passer la certification niveau 2 en Reiki ou j’ai

                commencé à proposer des soins à mon entourage<br/> (famille, amies, collègues de travail).

                2020 l’arrivée de mon fils sonne également l’arrêt de ma carrière en tant que coach sportif

                car je ne m’ y sentais plus à ma place.<br/>

                Ce qui m’a permis en 2021 de prendre la décision de me reconvertir en tant que thérapeute

                holistique<br/> et de passer la certification de massage bien-être et aussi de passer les niveau 3

                en Reiki.<br/><br/>

                Ancienne Sportive de Haut niveau, Médaillée d’argent au World Games 2005 en gymnastique Aerobic.
            </p>

    <div class="container-carousel mt-5">
            
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="/images/biographie1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="/images/biographie2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="/images/biographie3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

             
            


        </div>


      <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>

    </div>

        {# <div class="p-4 mt-5 row " >
                <div class="col-2">
                    <p class="text-decoration-underline text-danger">MON PARAGRAPHE 1
                    </p>
                </div>

                <div class="col-2">
                        <p class="text-decoration-underline text-danger">
            MON PARAGRAPHE 1
                    </p>
                    <p>mes affaires</p>

                </div>

                <div class="col-2">
                        <p class="text-decoration-underline text-danger">
            MON PARAGRAPHE 1
                    </p>
                </div>
              
        </div>




                <div>

                        <div>
                              <p class="text-decoration-underline text-danger">
            MON PARAGRAPHE 1
                    </p>
                        </div>

                        <div>
                        <p class="text-decoration-underline text-danger">
            MON PARAGRAPHE 4
                         </p>
                        </div>

                            <div>
                        <p class="text-decoration-underline text-danger">
            MON PARAGRAPHE 9
                         </p>
                        </div>
                </div>
        <button class="btn btn-outline-danger">Bouton1</button> #}
    

{% endblock %}