{% extends 'base.html.twig' %}

{% block title %} Guidances {% endblock %}


{% block body %}


<div class="container">
    <h1>Guidances carte oracle</h1>

    <div class="flex-guidances">
        <div class="card-guidances mb-3">
            <img src="images/guidances/carte.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Carte</h5>
                <p class="card-text card-text-soins">
            
                </p>
                
            </div>
        </div>


        <div class="card-guidances mb-3">
            <img src="images/guidances/tarot1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Tarot</h5>
                <p class="card-text card-text-soins">
                
                </p>
                
            </div>
        </div>


        <div class="card-guidances mb-3">
            <img src="images/guidances/tarot2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Oracle</h5>
                <p class="card-text card-text-soins">
              
                </p>
                
            </div>
        </div>


        
    </div>


    <p class="parag-guidances">
        La guidance avec les cartes oracles consiste à solliciter des conseils sur une situation, un projet, un blocage. 

        Je me sers des cartes comme support qui permettent de recevoir des conseils et des indications.

        La canalisation peut passer par les images, les textes ou même les chiffres des cartes.

        Le but de la consultation est de vous transmettre des conseils et des réponses pour que vous puissiez prendre une décision. A savoir rien n’est figé dans le temps les énergies bougent, changent et vous êtes maître de vos choix.
        </p>



     <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>

</div>



        





</div>

{% endblock %}