{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %} 
    <div class="hero-unit">
        
        <div class="hero-bg-image">
            <img src="/images/home-pic.png"/>
            <h1 class="h1-ReQilibre-titre">Re<span class="Q-vert">Q</span>iLiBre</h1>
            <p class="slogan-hero-unit">" Le plus grand secret du bonheur est d'être bien avec soi."</p>
            <p class="slogan-hero-unit"> Socrate</p>
            <div class="hero-bg-image-frame"></div>
        </div>
    </div>


<div class="container">
    <div class="intro-accueil">
        <div class="para-intro-accueil-border"> 
            <p class="para-intro-accueil p-3">
                Bienvenue sur le site ReQiLibre.<br/>

                Je m’appelle Christelle, je suis thérapeute-masseuse bien-être,<br/> spécialiste en holistique, une

                médecine alternative japonaise appelée “Reiki”.<br/>

                Dans une démarche thérapeutique, je prodigue des soins aux adultes<br/> et aux enfants.

                J’accompagne les personnes sur l’harmonisation du corps<br/> et de l’esprit pour les maintenir en

                bonne santé. 🙂<br/>

                J’aide les personnes qui souhaitent guérir leurs maux,<br/> améliorer leur quotidien, retrouver

                leur créativité…<br/>

                Les effets de relaxation sont immédiats, dès la première séance.
            </p>
        </div>

        <div class="intro-accueil-img-shadow">
            <img class="intro-accueil-img" src="/images/ceo-reqilibre.jpg"/>
            
        </div>

    </div>


    <h1 class="h1-accueil"> Que peut vous apporter une Séance ? </h1> 


    <div class="biensfaits-accueil">



        <div class="bienfaits-card row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="/images/accueil/bienfaits1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Libère les émotions</h5>
                    <p class="card-text">
                        <ul>
                            <li>Colère, agréssivité</li>
                            <li>Tristesse, mélancolie</li>
                            <li>Peur, angoisse, phobie</li>
                        </ul>
                    </p>

                </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                <img src="/images/accueil/bienfaits2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soulage les mots Divers</h5>
                    <p class="card-text">
                    
                         <ul>
                            <li>Fatigue, insomnies</li>
                            <li>Allergies, eczéma</li>
                            <li>Soulage les douleurs</li>
                        </ul>
                    </p>

                </div>
                </div>
            </div>


            
            <div class="col">
                <div class="card h-100">
                <img src="images/accueil/bienfaits3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Développe les potentiels</h5>
                    <p class="card-text">
                        <ul>
                            <li>Confiance et estime de soi</li>
                            <li>Améliore les relations aux autres</li>
                            <li>Aide a dépasser ses blocages</li>
                        </ul>
                    </p>
                </div>
                </div>
            </div>
            
        </div>



    </div>

                                    {# 2eme CARD #}

    <div class="biensfaits-accueil">



        <div class="bienfaits-card row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="/images/accueil/bienfaits4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Au niveau Psychologique</h5>
                    <p class="card-text">
                        <ul>
                            <li>Développe la confiance en soi</li>
                            <li>Libère les craintes et phobies</li>
                            <li>Guérit les états dépréssifs</li>
                        </ul>
                    </p>

                </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                <img src="/images/accueil/bienfaits5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Au niveau Spirituel</h5>
                    <p class="card-text">
                    
                         <ul>
                            <li>Élève le niveau de conscience</li>
                            <li>Aide à la clarté de l’esprit</li>
                            <li>Soutien la démarche spirituelle</li>
                        </ul>
                    </p>

                </div>
                </div>
            </div>


            
            <div class="col">
                <div class="card h-100">
                <img src="images/accueil/bienfaits6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Au niveau Physique</h5>
                    <p class="card-text">
                        <ul>
                            <li>Réduit les troubles du sommeil</li>
                            <li>Efficace contre la fatigue</li>
                            <li>Élimine les noeuds musculaires</li>
                        </ul>
                    </p>
                </div>
                </div>
            </div>
            
        </div>



    </div>

                                {# Fin de card Bienfaits #}


        <div class="rappel-menu">
            <h3 class="titre-rappel-menu">Voir nos services de :</h3>
            <a href="{{path('app_home_soins')}}">Soins</a>
            <a href="{{path('app_home_massages')}}">Massages</a> 
            <a href="{{path('app_home_guidances')}}">Guidances</a>
        </div>


         <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>
</div>

{% endblock %}