{% extends 'base.html.twig' %}

{% block title %} Massages {% endblock %}



{% block body %}


<div class="container">
    <h1>Réflexologie plantaire</h1>

    <div class="flex-soins">
        <div class="card-soins mb-3">
            <img src="images/massages/plantaire.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Qu'est ce que la reflexologie plantaire :</h5>
                <p class="card-text card-text-soins">
                La réflexologie plantaire est une médecine douce, qui propose de traiter certaines pathologies, ou simplement des tensions, à partir de massages des pieds.<br/><br/>

                Grâce à des massages à des endroits précis des pieds et de la voûte plantaire en particulier, on va agir sur des zones du corps.<br/><br/>

                Cette pratique aide à lutter contre des problèmes digestifs, respiratoires, des allergies, de l’eczéma, des problèmes de sommeil, des maux de dos, des problèmes de tension artérielle, des troubles hormonaux ou de l’humeur…Mais aussi les problèmes de poussée des dents chez les plus jeunes.<br/><br/>

                Bien évidemment, certaines de ces maladies nécessitent de consulter un médecin traditionnel, la réflexologie vient en complément.
                </p>
                <h4 class="bienfaits-massage">Bienfaits</h4>
                <p>La réflexologie plantaire dynamise l’organisme, harmonise les fonctions vitales, 
                libère le stress et les tensions nerveuses, soulage les tensions du dos, améliore la circulation sanguine,
                apporte détente et relaxation profonde, active le système lymphatique et décontracte les muscles. 
                Mais le bien-être apporté par la réflexologie plantaire est aussi psychique grâce à la décontraction mentale et à l’évacuation des émotions négatives.</p>
            </div>
        </div>



     <h1 class="massageh1">Massage Californien (Toucher du coeur)</h1>


        <div class="card-soins mb-3">
            <img src="images/massages//massage_cali.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Qu'est ce que le massage californien :</h5>
                <p class="card-text card-text-soins">
                Il s’agit d’un massage global du corps, destiné à relaxer le consultant et à le recentrer sur lui-même.
                Le massage californien est principalement connu pour ses propriétés relaxantes, et ses bénéfices physiques et psychologiques.<br/><br/>
                Il est particulièrement recommandé en cas de stress ou de surmenage.<br/><br/>

                Au début de la séance, j’ invite le massé à prendre conscience de sa respiration, et à inspirer et expirer profondément.<br/>
                Je commence généralement par un massage du dos, puis l’ensemble du corps, en me concentrant éventuellement sur les parties les plus tendues. 
                Les techniques employées sont les effleurages, les bercements, les pressions et les frictions. Je peux également procéder à des étirements des membres si nécessaire. 

                La durée moyenne d’un massage californien est d’une heure.
                </p>
                <h4 class="bienfaits-massage">Bienfaits</h4>
                <p>
                    Le massage californien permet également de détendre les muscles, d’assouplir le corps, 
                    et d’améliorer la circulation sanguine et lymphatique. <br/> 
                    Il peut être indiqué aux personnes suivant une psychothérapie, 
                    ou ayant subi un traumatisme.
                </p>
            </div>
        </div>


        


       
    </div>



    <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>

</div>








</div>

{% endblock %}

