{% extends 'base.html.twig' %}

{% block title %} Soins-Reiki {% endblock %}



{% block body %}


<div class="container">
    <h1>REIKI  (Énergie de l’esprit)</h1>

    <div class="flex-soins">
        <div class="card-soins mb-3">
            <img src="images/soins/soins1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Qu'est ce que le Reiki :</h5>
                <p class="card-text card-text-soins">
                Le Reiki est une méthode de guérison ancestrale d’origine japonaise, elle permet de canaliser l’énergie et de la transmettre par l’imposition des mains.<br/><br/>

                Le but est d’aider la personne à trouver et réaliser son harmonie et son équilibre intérieur.<br/><br/>

                Il augmente la conscience spirituelle et nous aide à progresser sur notre chemin personnel pour nous reconnecter à nous-mêmes et mieux nous aimer.<br/><br/> 

                Son énergie à la fois douce et puissante, va permettre de dynamiser le système d’auto-guérison du corps sur les plans physique, émotionnel, mental et spirituel.
                </p>
                {# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
            </div>
        </div>


        <div class="card-soins mb-3">
            <img src="images/soins/soins2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Pour qui ?</h5>
                <p class="card-text card-text-soins">
                Pour tous à partir de la naissance à titre préventif ou curatif.<br/><br/>

                Il s’adresse à tous ceux qui souhaitent se ressourcer, prendre soin d’eux, s’accorder un moment de sérénité pour refaire le pleins d’énergies, libérer leurs tensions, se sentir détendu et apaisé.<br/><br/>

                Important : Le soin énergétique favorise simplement la mise en place du processus d’auto-guérison naturelle.
                </p>
                
            </div>
        </div>


        <div class="card-soins mb-3">
            <img src="images/soins/soins3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Comment se passe une séance de Reiki :</h5>
                <p class="card-text card-text-soins">
                La durée de la séance est d’1 heure.<br/><br/>

                Vous êtes allongé habillé sur une table et vous fermez les yeux.<br/> Vous vous laissez aller à ne rien faire de spécial.<br/> Pendant ce temps, Je procède par imposition des mains sur des points spécifiques du corps (tête, buste, ventre, jambes…), et pratique en même temps une méditation spécifique, par résonance, vous entrez dans votre relaxation méditative.<br/><br/> 

                Sous l’effet de cette méditation spécifique, les tensions accumulées lâchent, et laissent émerger ses potentiels naturels solutionnants. 
                </p>
                
            </div>
        </div>


        <div class="card-soins mb-3">
            <img src="images/soins/soins4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h5-soins">Les bienfaits :</h5>
                <p class="card-text card-text-soins">
                soulager les maux divers : insomnies, fatigue, soulage les douleurs musculaires, allergies…<br/><br/>

                Libère les émotions : Angoisse, peurs, colère, agressivité, tristesse, mélancolie...<br/><br/>

                Au niveau spirituel : élève le niveau de conscience, soutient la démarche spirituelle, aide à la clarté d’esprit.
                </p>
                
            </div>
        </div>
    </div>



     <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>

</div>








</div>

{% endblock %}