{% extends 'base.html.twig' %}

{% block title %} Tarifs {% endblock %}





{% block body %}


<div class="container">
    <h1>Tarifs</h1>

<div class="div_tarrif">
                                {#----------------------- Massages------------------#}
        <div>
            <h2>Massages</h2>
                                    

                    <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">Réflexologie plantaire</div>
                        <div class="card-body">
                            
                            <li class="card-text">1H15 = 60€ (normal) <br>
                            avec bain de pieds avant le début de la séance.</li><br>
                            <li>45 min = 35€ (future maman)</li><br>
                            <li>45 min = 35€ (étudiant, demandeur d'emploi)</li>

                            <h5 class="card-title mt-5">Pack krystal de 5 séances de 45 min</h5>
                                <li>5 séances = 200€ (normal)</li><br>

                                <li>5 séances = 140€ (étudiant, demandeur d'emploi, femme enceinte)</li>

                        </div>
                    </div>
                    
                        {#----------------------- card inf Massage Californien------------------#}

                        <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                            <div class="card-header">Massage californien</div>
                            <div class="card-body">
                                
                                <li class="card-text">1H15 = 60€ (normal)</li><br>
                                <li>1H = 45€ (étudiant, demandeur d'emploi)</li><br>
                                <li>1H = 50€ (femme enceinte)</li>

                                <h5 class="card-title mt-5">Pack de 5 séances de 1h</h5>
                                    <li>5 séances = 240€ (normal)</li><br>

                                    <li>5 séances = 180€ (étudiant, demandeur d'emploi)</li>

                            </div>
                        </div>


                         {#----------------------- MON ESSENTIEL ------------------#}   

                     <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">Mon essentiel</div>
                        <div class="card-body">
                            
                                <li class="card-text">1 Massage par mois pendant 1 An <br>
                                (en présentiel uniquement)<br>
                                (60min + 30min de consultation)<br>
                                = 80 €/mois</li>

                        </div>
                    </div>   


        </div>

                                    {#----------------------- Reiki------------------#}              
        <div>

            <h2>Reiki</h2>

                     <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">Reiki</div>
                        <div class="card-body">
                            <h5 class="card-title">Présentiel</h5>
                                <li class="card-text">1H = 70€ (normal)</li><br>
                                <li>1H = 50€ (étudiant, demandeur d'emploi)</li><br>
                                <li>1H = 50€ (femme enceinte)</li>

                            <h5 class="card-title mt-5">Pack armony de 5 séances de 1H</h5>
                                <li>5 séances = 240€ (normal)</li><br>

                                <li>5 séances = 180€ (étudiant, demandeur d'emploi, femme enceinte)</li>

                            
                        </div>
                    </div>     


                                    {#----------------------- Guidance ------------------#} 

                    <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">Guidance</div>
                        <div class="card-body">
                            <h5 class="card-title">(en télécommunication)</h5>
                                <li class="card-text">Oracle mission de vie : 30 min = 25€</li><br>
                                <li>Oracle de la voix des Âmes : 30 min = 25€</li><br>
                                <li>1H = 50€ (femme enceinte)</li>

                        </div>
                    </div>     

                                    {#----------------------- Pendule ------------------#} 

                     <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">Pendule</div>
                        <div class="card-body">
                            
                                <li class="card-text">3 questions = 15€</li>

                        </div>
                    </div>   


                      {#----------------------- REKILIBRE ------------------#}   

                     <div class="card border-light mb-3 mt-5" style="max-width: 24rem;">
                        <div class="card-header">RéQiLibre</div>
                        <div class="card-body">
                            
                                <li class="card-text">1 Soin Reiki par mois pendant 1 An <br>
                                (à distance ou en présentiel)<br>
                                (60min + 30min de consultation)<br>
                                = 100 €/mois</li>

                        </div>
                    </div>   

        </div>



        

</div>

    



     <div class="div-btn-resa">
        <a href="https://www.resalib.fr/praticien/57652-christelle-alcan-maitre-reiki-creteil#newrdvmodal" target="_blank"><button type="button" class="btn-resa btn btn-info">RESERVEZ VOTRE SEANCE</button></a>
        </div>





        





</div>



{% endblock %}